/******************************************************************************
START Glitch hello-app default styles

The styles in this section do some minimal CSS resets, set default fonts and 
colors, and handle the layout for our footer and "Remix on Glitch" button. If
you're new to CSS they may seem a little complicated, but you can scroll down
to this section's matching END comment to see page-specific styles.
******************************************************************************/
/* Our default values set as CSS variables */
:root {
  --color-bg: #f7f79c;
  --color-text-main: #333333;
  --color-primary-light: #d0f7f0;
  --color-primary: #afece0;
  --blue: #2800ff;
  --grey-darkest: #333333;
  --grey-darker: #666666;
  --grey-dark: #888888;
  --grey: #aaaaaa;
  --grey-light: #cccccc;
  --grey-lighter: #dddddd;
  --grey-lightest: #efefef;
  --wrapper-height: 85vh;
  --image-max-width: 320px;
  --font-family: "HK Grotesk";
  --font-family-header: "HK Grotesk";
  --font-size-l: 1.4rem;
  --font-size-m: 1rem;
  --font-size-s: 0.85rem;
  --space-xxl: 1.5rem;
  --space-xl: 1.125rem;
  --space-l: 0.925rem;
  --space-m: 0.75rem;
  --space-s: 0.5rem;
  --space-xs: 0.325rem;
  --space-xxs: 0.25rem;
}

/* Basic page style resets */
* {
  box-sizing: border-box;
}
[hidden] {
  display: none !important;
}

code {
  font-size: 12px;
  font-family: monospace;
  padding: 2px 4px;
  background-color: #cdcdcd;
  border-radius: 6px;
}

/* Import fonts */
@font-face {
  font-family: HK Grotesk;
  src: url("https://cdn.glitch.me/605e2a51-d45f-4d87-a285-9410ad350515%2FHKGrotesk-Regular.otf?v=1603136326027")
    format("opentype");
}
@font-face {
  font-family: HK Grotesk;
  font-weight: bold;
  src: url("https://cdn.glitch.me/605e2a51-d45f-4d87-a285-9410ad350515%2FHKGrotesk-Bold.otf?v=1603136323437")
    format("opentype");
}

/* Our remix on glitch button */
.btn--remix {
  font-family: HK Grotesk;
  padding: 0.75rem 1rem;
  font-size: 1.1rem;
  line-height: 1rem;
  font-weight: 500;
  height: 2.75rem;
  align-items: center;
  cursor: pointer;
  background: #ffffff;
  border: 1px solid #000000;
  box-sizing: border-box;
  border-radius: 4px;
  text-decoration: none;
  color: #000;
  white-space: nowrap;
  margin-left: auto;
}

/* Navigation grid */
.footer {
  display: flex;
  justify-content: space-between;
  margin: 1rem auto 0;
  padding: 1rem 0 0.75rem 0;
  width: 100%;
  flex-wrap: wrap;
  border-top: 4px solid #fff;
}

.footer a:not(.btn--remix):link,
a:not(.btn--remix):visited {
  font-family: HK Grotesk;
  font-style: normal;
  font-weight: normal;
  font-size: 1.1rem;
  color: #000;
  text-decoration: none;
  border-style: none;
}
.footer a:hover {
  background: var(--color-primary);
}

.footer .links {
  padding: 0.5rem 1rem 1.5rem;
  white-space: nowrap;
}

.divider {
  padding: 0 1rem;
}
/******************************************************************************
END Glitch hello-app default styles
******************************************************************************/

/* Page structure */
body {
  font-family: HK Grotesk;
  background-color: var(--color-bg);
}
.wrapper {
  min-height: var(--wrapper-height);
  display: grid;
  margin: 0 1rem 4rem;
  min-height: 86vh;
}
.content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Page titles */
h1 {
  color: var(--blue);
  font-family: HK Grotesk;
  font-style: normal;
  font-weight: bold;
  font-size: 60px;
  line-height: 105%;
}
.page h1 {
  font-size: 48px;
}

.page p {
  line-height: 1.5;
}

.page a {
  color: #000;
}

.page a:hover {
  text-decoration: none;
}

/* Instructions */
.home-wrapper {
  max-width: 800px;
  margin: 1rem auto 0;
}
.instructions p {
  font-size: 1rem;
}
h2 {
  color: var(--blue);
}

h5,
h6 {
  margin: 0;
}

input,
button {
  font-family: var(--font-family);
}
